@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import "reset.css";

body {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #f8afa6;
  color: #f9f1f0;
  font-family: "Ubuntu", sans-serif;
}

.App {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 20px;
  display: block;
  align-items: center;
  text-align: center;
}

/* navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f79489;
  width: 100%;
  height: 70px;
  z-index: 3;
  padding: 0px 20px;
}

.message {
  color: red;
  margin-top: 20px;
}

.home-icon {
  width: 40px;
}

.nav-right {
  margin-right: 40px;
}

.nav-btn {
  margin: 0px 20px;
  width: 70px;
  height: 35px;
  color: #f9f1f0;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.nav-btn:hover {
  cursor: pointer;
}

/* home page  */
.home-container {
  height: 100vh;
  width: 100%;
  display: block;
}

.first-row {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/background001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
}

.first-row-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -204px;
  text-align: center;
  font-family: "Kaushan Script", cursive;
}

.first-row-text > h1 {
  color: #fae1dd;
  font-size: 60px;
  font-weight: 700;
  -webkit-text-stroke: 1px #fae1dd;
  margin-bottom: 20px;
}

.first-row-text > h2 {
  color: #fae1dd;
  font-weight: 500;
  font-size: 30px;
}

.second-row {
  display: flex;
  height: 600px;
  width: 100%;
  justify-content: space-around;
}

.second-left {
  width: 25vw;
  background-image: url("./images/leftback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.second-middle {
  width: 25vw;
  background-image: url("./images/middleback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.second-right {
  width: 25vw;
  background-image: url("./images/rightback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* sign up page */
.signup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container > h3 {
  font-size: 40px;
  margin: 40px;
}

.signup-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container > form > label {
  transition: 0.2s;
  color: gray;
  margin: 5px;
  font-size: 20px;
}

.signup-container > form > input {
  color: gray;
  font-family: inherit;
  width: 100%;
  height: 10px;
  border: 0;
  border-bottom: 2px solid gray;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  margin-bottom: 20px;
}

.signup-container > form > button {
  color: #f9f1f0;
  width: 200px;
  height: 40px;
  font-size: 20px;
  background-color: pink;
  border: 0;
  border-radius: 50px;
}
.signup-container > form > button:hover {
  cursor: pointer;
  background-color: violet;
}

/* log in page */
.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container > h3 {
  font-size: 40px;
  margin: 40px;
}

.login-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container > form > label {
  transition: 0.2s;
  color: gray;
  margin: 5px;
  font-size: 20px;
}

.login-container > form > input {
  color: gray;
  font-family: inherit;
  width: 100%;
  height: 10px;
  border: 0;
  border-bottom: 2px solid gray;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  margin-bottom: 20px;
}

.login-container > form > button {
  color: #f9f1f0;
  width: 200px;
  height: 40px;
  font-size: 20px;
  background-color: pink;
  border: 0;
  border-radius: 50px;
}
.login-container > form > button:hover {
  cursor: pointer;
  background-color: violet;
}

/* recipe list page */
.recipes-container {
  height: 100vh;
  background: linear-gradient(
      rgba(219, 209, 209, 0.863),
      rgba(204, 194, 194, 0.144)
    ),
    url("./images/cookies-served-on-a-vintage-plate-with-flowers-picjumbo-com.jpg");
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  margin-bottom: 30px;
}

.search-box > input {
  width: 400px;
  height: 30px;
  border: 0;
  border-radius: 50px;
  padding-left: 20px;
}

.list-title {
  font-size: 50px;
  font-weight: 700;
  -webkit-text-stroke: 2px #f8afa6;
}
.cards-box {
  display: flex;
  flex-wrap: wrap;
}

/* recipe card */
.card-box {
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: #f8afa6;
  margin: 20px;
  border-radius: 10px;
}

.card-box:hover {
  background-color: #f79489;
}

.card-left {
  margin: 10px;
}

.card-left > img {
  width: 100px;
}

.card-title {
  font-size: 20px;
  color: inherit;
  text-decoration: none;
}

.card-right {
  position: relative;
  padding-top: 10px;
  margin: 0px 10px;
}
.card-text {
  color: gray;
  margin-top: 10px;
  font-size: 12px;
}
.fav-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.fav-btn > button {
  border: 0;
  background-color: transparent;
  font-size: 20px;
}

.fav-btn > button:hover {
  cursor: pointer;
}
/* favorite */
.fa-heart {
  color: red;
}

/* detail page */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container > h1 {
  margin: 20px;
  font-size: 40px;
}
.detail-container {
  display: flex;
  margin: 0 5%;
  background-color: #fec89a;
}

.detail-left {
  padding: 34px;
  width: 50%;
}

.detail-left > img {
  width: 250px;
}

.detail-left > h4 {
  font-size: 20px;
  margin: 15px;
}

.detail-right > h4 {
  font-size: 20px;
  margin: 15px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
}
.ingredients > p {
  margin: 3px;
}

.instructions {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px 30px 0px;
}

.instructions > li {
  text-align: start;
  margin: 2px;
}

.edit-btn {
  font-size: 20px;
  font-weight: 700;
  color: #f9f1f0;
  background-color: #fec89a;
  width: 200px;
  height: 30px;
  border: 0;
  border-radius: 20px;
  margin: 30px 0px;
}

.edit-btn:hover {
  background-color: pink;
  cursor: pointer;
}

/* add page */

.title {
  margin: 20px;
  font-size: 40px;
}

.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-container > form {
  padding: 40px;
  background-color: #a49393;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-row {
  display: flex;
  margin-bottom: 5px;
}

.row-left {
  display: flex;
  justify-content: end;
  width: 150px;
  font-size: 20px;
  font-weight: 700;
  margin: 5px;
}

.row-right {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
}

.row-right > input {
  padding-left: 20px;
  width: 200px;
  height: 20px;
  border: 0;
  border-radius: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: start;
}

.box > input {
  padding-left: 20px;
  width: 200px;
  height: 20px;
  border: 0;
  border-radius: 20px;
  margin-right: 10px;
}

.add-text {
  margin-top: 10px;
}

.add-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mr10 {
  background-color: #fec89a;
  width: 60px;
  height: 20px;
  border: 0;
  border-radius: 20px;
  margin: 10px 0px;
}

.mr10:hover {
  background-color: pink;
  cursor: pointer;
}

.add-btn {
  font-size: 20px;
  font-weight: 700;
  color: #f9f1f0;
  background-color: #fec89a;
  width: 200px;
  height: 30px;
  border: 0;
  border-radius: 20px;
  margin: 10px 0px;
}
.add-btn:hover {
  background-color: pink;
  cursor: pointer;
}

.image-preview {
  width: 100px;
  height: 100px;
}
/* edit page */

.title {
  margin: 20px;
  font-size: 40px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-container > form {
  padding: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a49393;
}

.edit-container > form > label {
  font-size: 20px;
  margin: 10px;
  font-weight: 700;
}
.edit-container > form > input {
  padding-left: 20px;
  width: 200px;
  height: 20px;
  border: 0;
  border-radius: 20px;
}

.update-btn {
  font-size: 20px;
  font-weight: 700;
  color: #f9f1f0;
  background-color: #fec89a;
  width: 200px;
  height: 30px;
  border: 0;
  border-radius: 20px;
  margin: 20px 0px;
}
.update-btn:hover {
  background-color: pink;
  cursor: pointer;
}

/* profile page */
.container > h3 {
  font-size: 40px;
  margin: 20px;
}

.container > h4 {
  font-size: 20px;
  margin: 10px;
}

.container > h5 {
  font-size: 25px;
  margin: 10px 0px 30px 0px;
}

.profile-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile-left {
  width: 40%;
  min-width: 340px;
  background-color: #e8e8e4;
  border-radius: 10px;
}

.profile-left > h3 {
  font-size: 40px;
  padding: 5px;
  background-color: #ccd5ae;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-right {
  width: 40%;
  min-width: 340px;
  background-color: #faedcd;
  border-radius: 10px;
}

.profile-right > h3 {
  font-size: 40px;
  padding: 5px;
  background-color: #d4a373;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
